.vs/ProjectEvaluation/supermercado.metadata.v7.bin
.vs/ProjectEvaluation/supermercado.projects.v7.bin
.vs/Supermercado/DesignTimeBuild/.dtbcache.v2
.vs/Supermercado/FileContentIndex/0c8fe773-5c8c-4809-a70e-ed638e900cda.vsidx
.vs/Supermercado/FileContentIndex/14d7442b-45e2-4a5d-a1d1-f4b429207c5b.vsidx
.vs/Supermercado/FileContentIndex/15df4d8d-3021-487d-92ad-d864535e1ced.vsidx
.vs/Supermercado/FileContentIndex/2e72af5b-c3ae-4ba5-a3d1-07e9afe83de5.vsidx
.vs/Supermercado/FileContentIndex/77083514-20d3-4a04-9377-7d452ca67c50.vsidx
.vs/Supermercado/FileContentIndex/9482971f-54e6-4776-992f-d17d66813acf.vsidx
.vs/Supermercado/FileContentIndex/9ed38342-73af-496f-bc8d-c56080f1366e.vsidx
.vs/Supermercado/FileContentIndex/a2c3fc25-0bfb-4f27-ae16-adde2b0b609d.vsidx
.vs/Supermercado/FileContentIndex/c20a07d9-7d4d-4c23-8b53-57228d3c796f.vsidx
.vs/Supermercado/FileContentIndex/e6accfab-9329-4e08-b12e-e9fd3fafaef1.vsidx
.vs/Supermercado/v16/.suo
.vs/Supermercado/v17/.futdcache.v2
.vs/Supermercado/v17/.suo
.vs/Supermercado/v17/DocumentLayout.json
